{% extends 'main/layouts.html' %}


{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Loan</h1>
  <p class="lead">Get Loan Fast and Easy With Us or Be an Investor In Excange for solid returns</p>
  <hr class="my-4">
  <p>We are not a bank or a financing company. We simply connect borrowers with the investor through online marketplace</p>
  <p class="lead">
    <a class="btn btn-default btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<br>
<br>


<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Borrower</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-default">Learn About Loan</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Investor</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-default">Learn About Investing</a>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="row mt-sm-4 mt-md-0">
	<div class="col-sm-12 col-md-8 text-sm-center text-md-left">
		<h3>An Important Headind</h3>
		<p class="lead">A sort of important subheading text here.</p>
		<p>some texsdsakjdlksdjksaljdaskldajsbfakjscnajn</p>
		<p> some terwefdsfdsfdsfdsdfdsfdsfsdfds</p>
	</div>
	<div class="col-sm-12 col-md-4">
		<h3 class="mb-4">Secondary Menu</h3>

		<ul class="nav flex-column nav-pills">

			<li class="nav-item">
				<a class="nav-link active" href="#">Home</a>
			</li>

			<li class="nav-item">
				<a class="nav-link " href="#">Borrow</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#">Invest</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#">About</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#">Borrow</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#">Contact Us</a>
			</li>
		</ul>
	</div>
</div>		
{% endblock %}